## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [1]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [2]:
# View the column names in the data
column_names = df.columns
print(column_names)

    #column_names = df.columns.tolist()
    #print(column_names)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [3]:
# Use the describe function to gather some basic statistics
basic_stats = df.describe()
print(basic_stats)

          client_id      order_id    order_week    order_year    unit_price  \
count  54639.000000  5.463900e+04  54639.000000  54639.000000  54639.000000
mean   54837.869416  5.470190e+06     11.359139   2022.993064    136.267207
std    25487.438231  2.599807e+06      7.023499      0.082997    183.873135
min    10033.000000  1.000886e+06      1.000000   2022.000000      0.010000
25%    33593.000000  3.196372e+06      6.000000   2023.000000     20.800000
50%    53305.000000  5.496966e+06     11.000000   2023.000000     68.310000
75%    78498.000000  7.733869e+06     17.000000   2023.000000    173.160000
max    99984.000000  9.998480e+06     52.000000   2023.000000   1396.230000

          unit_cost   unit_weight           qty   line_number
count  54639.000000  54639.000000  5.463900e+04  54639.000000
mean      99.446073      5.004116  5.702646e+02      2.979667
std      133.164267      5.326599  1.879552e+04      2.436320
min        0.010000      0.000000  0.000000e+00      0.000000
25%       14.840000      1.450000  3.200000e+01      1.000000
50%       49.890000      3.240000  6.800000e+01      3.000000
75%      125.570000      6.890000  1.700000e+02      5.000000
max      846.270000     46.430000  3.958244e+06      9.000000

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.
unique_values = df.nunique()
print("Number of unique values in each column:")
print(unique_values)

Number of unique values in each column:
first            360
last             477
job              498
phone            999
email            999
client_id        999
order_id       10000
order_date       150
order_week        23
order_year         2
item_id          500
category           5
subcategory       18
unit_price       490
unit_cost        487
unit_weight      393
qty             2911
line_number       10
dtype: int64

In [5]:
# What three item categories had the most entries?
# Get the value counts for the 'category' column
category_counts = df['category'].value_counts()

# Print the three item categories with the most entries
top_three_categories = category_counts.head(3)
print("Top three item categories with the most entries:")
print(top_three_categories)

Top three item categories with the most entries:
category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [6]:
# For the category with the most entries, which subcategory had the most entries?
most_common_category = category_counts.idxmax()

filtered_df = df[df['category'] == most_common_category]

subcategory_counts = filtered_df['subcategory'].value_counts()

most_common_subcategory = subcategory_counts.idxmax()
most_common_subcategory_count = subcategory_counts.max()

print(f"Category with the most entries, {most_common_category},")
print(f"the subcategory with the most entries is {most_common_subcategory} with {most_common_subcategory_count} entries")

Category with the most entries, consumables,
the subcategory with the most entries is bathroom supplies with 6424 entries

In [7]:
# Which five clients had the most entries in the data?
client_counts = df['client_id'].value_counts()

top_five_clients = client_counts.head(5)

print("Top five clients with the most entries:")
print(top_five_clients)

Top five clients with the most entries:
client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [8]:
# Store the client ids of those top 5 clients in a list.
top_five_client_ids = top_five_clients.index.tolist()

print("Top five client IDs with the most entries:")
print(top_five_client_ids)

Top five client IDs with the most entries:
[33615, 66037, 46820, 38378, 24741]

In [9]:
# How many total units (the qty column) did the client with the most entries order order?
client_with_most_entries = df['client_id'].value_counts().idxmax()

total_units_ordered = df[df['client_id'] == client_with_most_entries]['qty'].sum()

print(f"The client with the most entries (client ID: {client_with_most_entries}) ordered a total of, {total_units_ordered:.2f} units.")

The client with the most entries (client ID: 33615) ordered a total of, 64313.00 units.

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [10]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['subtotal'] = df['unit_price'] * df['qty']

print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year         item_id     category         subcategory  \
0          17        2023  EUD29711-63-6U        decor            wall art
1          20        2023  XDA18116-89-4A  consumables                pens
2           4        2023  ABE59463-05-7E     software  project management
3          17        2023  ZMM00836-65-0C  consumables                pens
4          21        2023  BZX55559-12-3X  consumables                misc

   unit_price  unit_cost  unit_weight  qty  line_number   subtotal
0     1096.80     762.71         7.50  105            1  115164.00
1       24.95      15.09         1.49   21            0     523.95
2       13.52       7.86         1.68   39            6     527.28
3       36.42      24.85         1.23   29            3    1056.18
4      195.10     108.17        46.43   20            1    3902.00

In [11]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df['total_weight'] = df['unit_weight'] * df['qty']

df['shipping_price_per_pound'] = df['total_weight'].apply(lambda x: 7 if x > 50 else 10)

df['total_shipping_price'] = df['total_weight'] * df['shipping_price_per_pound']

print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ...         subcategory unit_price unit_cost  \
0          17        2023  ...            wall art    1096.80    762.71
1          20        2023  ...                pens      24.95     15.09
2           4        2023  ...  project management      13.52      7.86
3          17        2023  ...                pens      36.42     24.85
4          21        2023  ...                misc     195.10    108.17

   unit_weight  qty  line_number   subtotal  total_weight  \
0         7.50  105            1  115164.00        787.50
1         1.49   21            0     523.95         31.29
2         1.68   39            6     527.28         65.52
3         1.23   29            3    1056.18         35.67
4        46.43   20            1    3902.00        928.60

   shipping_price_per_pound  total_shipping_price
0                         7               5512.50
1                        10                312.90
2                         7                458.64
3                        10                356.70
4                         7               6500.20

[5 rows x 22 columns]

In [12]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
sales_tax_rate = 0.0925
df['total_price'] = df['subtotal'] + df['total_shipping_price'] + (df['subtotal'] * sales_tax_rate)

print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ... unit_price unit_cost unit_weight  qty  \
0          17        2023  ...    1096.80    762.71        7.50  105
1          20        2023  ...      24.95     15.09        1.49   21
2           4        2023  ...      13.52      7.86        1.68   39
3          17        2023  ...      36.42     24.85        1.23   29
4          21        2023  ...     195.10    108.17       46.43   20

   line_number   subtotal  total_weight  shipping_price_per_pound  \
0            1  115164.00        787.50                         7
1            0     523.95         31.29                        10
2            6     527.28         65.52                         7
3            3    1056.18         35.67                        10
4            1    3902.00        928.60                         7

   total_shipping_price    total_price
0               5512.50  131329.170000
1                312.90     885.315375
2                458.64    1034.693400
3                356.70    1510.576650
4               6500.20   10763.135000

[5 rows x 23 columns]

In [13]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = df['unit_cost'] * df['qty'] + df['total_shipping_price']

print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ... unit_cost unit_weight  qty  line_number  \
0          17        2023  ...    762.71        7.50  105            1
1          20        2023  ...     15.09        1.49   21            0
2           4        2023  ...      7.86        1.68   39            6
3          17        2023  ...     24.85        1.23   29            3
4          21        2023  ...    108.17       46.43   20            1

    subtotal  total_weight  shipping_price_per_pound  total_shipping_price  \
0  115164.00        787.50                         7               5512.50
1     523.95         31.29                        10                312.90
2     527.28         65.52                         7                458.64
3    1056.18         35.67                        10                356.70
4    3902.00        928.60                         7               6500.20

     total_price  line_cost
0  131329.170000   85597.05
1     885.315375     629.79
2    1034.693400     765.18
3    1510.576650    1077.35
4   10763.135000    8663.60

[5 rows x 24 columns]

In [14]:
# Create a column for the profit of each line using line cost and line price
df['line_price'] = df['unit_price'] * df['qty']
df['line_cost'] = df['unit_cost'] * df['qty']

df['line_profit'] = df['line_price'] - df['line_cost']

print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ...  qty line_number   subtotal  total_weight  \
0          17        2023  ...  105           1  115164.00        787.50
1          20        2023  ...   21           0     523.95         31.29
2           4        2023  ...   39           6     527.28         65.52
3          17        2023  ...   29           3    1056.18         35.67
4          21        2023  ...   20           1    3902.00        928.60

   shipping_price_per_pound  total_shipping_price    total_price  line_cost  \
0                         7               5512.50  131329.170000   80084.55
1                        10                312.90     885.315375     316.89
2                         7                458.64    1034.693400     306.54
3                        10                356.70    1510.576650     720.65
4                         7               6500.20   10763.135000    2163.40

   line_price  line_profit
0   115164.00     35079.45
1      523.95       207.06
2      527.28       220.74
3     1056.18       335.53
4     3902.00      1738.60

[5 rows x 26 columns]

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [15]:
# Check your work using the totals above

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [16]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
total_spending = df.groupby('client_id')['subtotal'].sum()
top_5_clients = df['client_id'].value_counts().head(5).index.tolist()
top_5_spending = total_spending.loc[top_5_clients]


print("Spending for top 5 clients by quantity:")
print(top_5_spending)

Spending for top 5 clients by quantity:
client_id
33615     5839032.11
66037     7995708.38
46820     7317356.03
38378     8384321.15
24741    70176885.25
Name: subtotal, dtype: float64

In [46]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
summary_df = pd.DataFrame({
    'Total Units Purchased': total_units_purchased.loc[top_5_clients],
    'Total Shipping Price': total_shipping_price.loc[top_5_clients],
    'Total Revenue': total_revenue.loc[top_5_clients],
    'Total Profit': total_profit.loc[top_5_clients]
})

print(summary_df)

           Total Units Purchased  Total Shipping Price  Total Revenue  \
client_id
33615                      64313            1828984.89   8.208127e+06
66037                      43018            1395151.85   1.013046e+07
46820                      75768            1601448.84   9.595660e+06
38378                      73667            3429455.40   1.258933e+07
24741                     239862            5126448.37   8.179470e+07

           Total Profit
client_id
33615        1492703.09
66037        2386377.25
46820        1911613.23
38378        2179055.57
24741       29614433.91

In [51]:
# Format the data and rename the columns to names suitable for presentation.
summary_df.rename(columns={
    'Total Units Purchased': 'Total Units Purchased',
    'Total Shipping Price': 'Total Shipping Costs (Millions)',
    'Total Revenue': 'Total Revenue (Millions)',
    'Total Profit': 'Total Profit (Millions)'
}, inplace=True)

# Define the money columns. 
money_columns = ['Total Shipping Costs (Millions)', 'Total Revenue (Millions)', 'Total Profit (Millions)']

# Define a function that converts a dollar amount to millions.
def dollars_to_millions(amount):
    return amount / 1_000_000

# Apply the currency_format_millions function to only the money columns. 
money_columns = ['Total Shipping Costs (Millions)', 'Total Revenue (Millions)', 'Total Profit (Millions)']

for col in money_columns:
    if col not in summary_df.columns:
        print(f"Column '{col}' does not exist in summary_df.")
    else:
        summary_df[col] = summary_df[col].apply(dollars_to_millions)

# Rename the columns to reflect the change in the money format. 
new_column_names = {
    'Total Shipping Costs (Millions)': 'Total Shipping Costs ($M)',
    'Total Revenue (Millions)': 'Total Revenue ($M)',
    'Total Profit (Millions)': 'Total Profit ($M)'
}

summary_df.rename(columns=new_column_names, inplace=True)
print(summary_df)

Column 'Total Shipping Costs (Millions)' does not exist in summary_df.
Column 'Total Revenue (Millions)' does not exist in summary_df.
Column 'Total Profit (Millions)' does not exist in summary_df.
           Total Units Purchased  Total Shipping Costs ($M)  \
client_id
33615                      64313                   1.828985
66037                      43018                   1.395152
46820                      75768                   1.601449
38378                      73667                   3.429455
24741                     239862                   5.126448

           Total Revenue ($M)  Total Profit ($M)
client_id
33615                8.208127           1.492703
66037               10.130463           2.386377
46820                9.595660           1.911613
38378               12.589326           2.179056
24741               81.794696          29.614434

In [52]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
sorted_df = summary_df.sort_values(by='Total Profit ($M)', ascending=False)
print(sorted_df)

           Total Units Purchased  Total Shipping Costs ($M)  \
client_id
24741                     239862                   5.126448
66037                      43018                   1.395152
38378                      73667                   3.429455
46820                      75768                   1.601449
33615                      64313                   1.828985

           Total Revenue ($M)  Total Profit ($M)
client_id
24741               81.794696          29.614434
66037               10.130463           2.386377
38378               12.589326           2.179056
46820                9.595660           1.911613
33615                8.208127           1.492703

In [50]:
# client 24741 conducts a majority of this companies business.
# This is pretty tough getting the data sorted.